[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
.vs/
.idea/
.dotnet/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties
!Tests/Rules.TestRunner/Rules.TestRunner.csproj
